* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --textColor: #eee;
}
body {
  font-family: "Montserrat", sans-serif;
}
section {
  width: 100vw;
  height: 100vh;
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.4), rgba(110, 3, 66, 0.3)),
    url(./assets/pexels-freestocksorg-749386.jpg) center center no-repeat fixed;
  background-size: cover;
}
h1 {
  color: var(--textColor);
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.33rem;
}
.countdown-container {
  width: 77vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.big-text {
  color: var(--textColor);
  font-size: 4rem;
  font-weight: 700;
}
.element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 3rem;
}
.element-container span {
  color: var(--textColor);
  font-size: 1rem;
  font-weight: 400;
}
